.meta, .post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}
.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}
h1, .h1 {
    font-size: 2.375rem;
}
ul#markdown-toc:before{content:"목차";font-weight:400;font-size:1.4rem;color:#1C1C1C;margin-left:0.6rem}
ul#markdown-toc{background:none repeat scroll 0 0 #f9f9f9;border:1px solid #aaa;display:table;margin-top:2em;margin-bottom:3em;padding:16px 20px 10px;width:auto;list-style:none;margin-left:0;line-height:1.5}
ul#markdown-toc a{background-image:none}
ul#markdown-toc ul{list-style:none;padding-left:0.6rem}
ul#markdown-toc li:first-child{margin-top:0.6em}
ul#markdown-toc ul li:first-child{margin-top:0}
ul#markdown-toc li{padding-left:0.8em;font-size:0.95rem}
ul#markdown-toc li ul{margin-bottom:0.15em}
ul#markdown-toc li ul li{font-size:0.9rem}
ul#markdown-toc li ul li ul{margin-bottom:0.25em}

.post-content img{display:block}

img.alignleft{display:inline;float:left}
img.alignright{display:inline;float:right}
img.aligncenter{display:block;margin:0 auto}